.container {
    flex-direction: column;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(131, 131, 131);
    transition: 0.2s;
}

li {
    list-style-type: none;
}